extends ../layout/index

block contenido  
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        div.mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Email" type="email" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Password" type="password" name="password")
                    
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuenta? Crea una
                        a.text-gray-500.text-xs(href="/auth/olvide-password") Olvide mi password

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-md py-3 cursor-pointer" type="submit" value="Iniciar Secion")
                    